body {
  margin: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  background-color: #131313;
  color: white;
  font-family: "Merriweather", serif;
}

.transition-brown {
  transition: color 0.3s ease;
}
.transition-brown:hover {
  color: rgba(255, 87, 51, 0.7) !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

#content,
#footer {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}

/* Media query for responsiveness */
@media screen and (min-width: 768px) {
  .app-container {
    /* flex-direction: row; */
  }

  #header,
  #content,
  #footer {
    flex: 1;
  }
}
